.splide__slide img {
    width: 100%;
    height: auto;
  }
  /*  */
  .splide__slide {
    opacity: 0.6;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
  /*  */
  .splide__slide img {
    /* width: 100%; */
    /* height: auto; */
    width: 400px;
}
/*  */
#thumbnail-carousel{
    width: 350px
}
.splide_carrousel img{
    width: 100px !important;
}
/*  */
/*  */
/*  */
/*  */
/* second carousel */

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
}